*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    select{
        width:150px;
        option{
            font-size: smaller;
            word-wrap: break-word;
            word-break: break-all;
        }
    }
}
 
body{
    height:100vh;
    overflow: auto;
}

#additempopup{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index:9;
}

.addbackground{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index:8;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.349);
}

#history{
    position: fixed;
    overflow: auto; 
    display: none;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9;
}


#infoviews{
    position: fixed;
    overflow: auto; 
    display: none;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9;  


    .infocontent{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row;
        position: relative;
        top:0;
        left:0;
        width:100%;
        height:100%;
        padding:10px;
        overflow: hidden;

        .boxs{
        width:100%;
        height:100%;
        border: 1px solid black;

        }

        .boxs:nth-child(1){
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            padding:5px;

            .header{
                padding:20px;
                width:100%;
                font-weight: bold;
                font-size: x-large;

                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-flow: row;
            }

            .notes{
                height:100%;
                width:100%;
                // border: 1px solid red;
                position: relative;

                textarea{
                    height:100%;
                    width:100%;
                    resize: none;
                    padding:10px;
                    border:none;
                    outline:0;
                }
            }
        }
        .boxs:nth-child(2){
            flex: .50;
            position: relative;
            overflow: hidden;
            .header{
                padding:20px;

                position: relative;

                #closethisinfo{
                    position: absolute;
                    top:4%;
                    right:1%;
                }
            }

            .tags{
                height:100%;
                width:100%;
                padding:10px;
                position: relative;
                overflow: hidden;

                .tagdisplay{
                    overflow: auto;
                    width:100%;
                    height:100%;
                    margin-top:10px;

                    .tagchosen{
                        padding:8px;
                        margin-top:5px;
                        background-color: rgb(55, 139, 235);
                        color: ghostwhite;
                        cursor: pointer;
                        font-weight: bold;

                        &:last-child{
                            margin-bottom:150px;
                        }
                    }
                }
            }
        }
    }
}


#itemtosearch {
    width: 550px;
}

@media (max-width: 768) {
    #itemtosearch {
        width: 350px;
    }
}

@media (max-width: 425) {
    #itemtosearch {
        width: 320px;
    }
}